{% extends "member/base.html" %}

{% block title %}
    Publications
{% endblock %}

{% block headline %}
    Publications
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Publications</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Tutoriels</h3>
        </div>
    </div>

    {% if user_tutorials %}
        {% for tuto in user_tutorials %}
            {% if tuto.on_line %}
                <div class="row article-publication-item published">
            {% else %}
                <div class="row article-publication-item">
            {% endif %}
                <div class="large-1 columns">
                    <div class="date-box">
                        {% with date=tuto.update %}
                            {% include "misc/datebox.part.html" %}
                        {% endwith %}
                    </div>
                </div>
                <div class="large-1 columns">
                    <img src="{{ tuto.image.thumb.url }}" />
                </div>
                <div class="large-9 columns">
                    <a href="{{ tuto.get_absolute_url }}">{{ tuto.title }}</a>
                    <p>{{ tuto.description }}</p>
                </div>
                <div class="large-1 columns">
                    <a href="{% url "zds.tutorial.views.edit_tutorial" %}?tutoriel={{ tuto.pk }}">
                        <i class="icon-edit"></i>
                        Éditer
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="large-12 columns">
                Vous n'avez aucun tutoriel
            </div>
        </div>
    {% endif %}
{% endblock %}
