{% extends "member/settings_base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li><a href="{% url "zds.member.views.settings_profile" %}">Paramètres</a></li>
    <li class="current"><a href="#">Compte</a></li>
{% endblock %}

{% block subnav %}
    <dd><a href="{% url "zds.member.views.settings_profile" %}">Profil</a></dd>
    <dd class="active"><a href="{% url "zds.member.views.settings_account" %}">Compte</a></dd>
{% endblock %}

{% block settings_form %}
<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>
{% endblock %}
