{% load staticfiles %}
{% load compressed %}
{% load profile %}
{% load interventions %}
{% load topbar %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Sans nom{% endblock %}{% block title_base %}{% endblock %} &#183; ZesteDeSavoir</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    {% block meta %}{% endblock %}

    {% compressed_css "zds" %}

    {# for additionnal css in some pages #}
    {% block extracss %}{% endblock %}

    {# favicons #}
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon" href="{% static "img/touch-icon-iphone.png" %}" />

    {# RSS links #}
    <link rel="alternate" type="application/rss+xml"
          title="Forum" href="{% url "post-feed-rss" %}"/>
    <!-- Piwik -->
    <script type="text/javascript"> 
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://zestedesavoir.tk/piwik//";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();

    </script>
    <noscript><p><img src="http://zestedesavoir.tk/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Code -->

</head>
<body>

    <nav class="top-bar" 
        {% if user.is_authenticated %}
        {% with profile=user|profile %}
        data-options="is_hover: {{ profile.hover_or_click}}"
        
        {% endwith %}
        {% endif %}
        >
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">
                        ZesteDeSavoir
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

            {# Theses menu_* blocks are set or not in applications derived base.html #}
            {# in order to set the menu entry active or not. #}

            <ul class="left">
                <li {% block menu_home %}{% endblock %}>
                    <a href="{% url "zds.pages.views.home" %}">
                        <i class="fi-home"></i>
                        Accueil
                    </a>
                </li>
                
                <li class="{% block menu_tutorial %}{% endblock %} has-dropdown " >
                    <a href="{% url "zds.tutorial.views.index" %}">
                        <i class="fi-book"></i>
                        Tutoriels
                    </a>
                    <ul class="dropdown">
                        <li class="divider"></li>
                        <li><label>Participez</label></li>
                        <li><a href="{% url "zds.tutorial.views.add_tutorial" %}">Proposer un tutoriel &rarr;</a></li>
                        <li><a href="{% url "zds.tutorial.views.import_tuto" %}">Importer un .tuto &rarr;</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url "zds.tutorial.views.list" %}">Vos tutoriels &rarr;</a></li>
                        {% endif %}
                    </ul>
                </li>
                
                <li class="{% block menu_forum %}{% endblock %} has-dropdown">
                    <a href="{% url "zds.forum.views.index" %}" />
                        <i class="fi-comments"></i>
                        Forums
                    </a>
                    <ul class="dropdown">
                        {% with categories='.'|top_categories %}
                        {% for category in categories %}
                            <li><label>{{ category.title }}</label></li>
                            {% for forum in category.get_forums %}
                                <li><a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a></li>
                            {% endfor %}
                        {% endfor %}
                        {% endwith %}
                      <li class="divider"></li>
                      <li><a href="{% url "zds.forum.views.index" %}">Tous &rarr;</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="right">
                {% if user.is_authenticated %}
                    {% if perms.forum.change_post %}
                    {% with posts=user|alerts_topic %}
                        <li class="has-dropdown">
                                <a href="#">
                                    {% if posts.count > 0 %}
                                        <span class="label alert">{{ posts.count }}</span>
                                    {% endif %}
                                    <i class="fi-lightbulb"></i>
                                </a>
                                <ul class="dropdown">
                                    {% for post in posts %}
                                        <li>
                                            <a href="{{ post.get_absolute_url }}">
                                                <strong>
                                                    {{ post.topic.title }}
                                                </strong>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                    {% endwith %}
                    {% endif %}
                    {% with topics=user|interventions_privatetopics %}
                        {% with unread_topics=topics.unread %}
                            <li class="{% block menu_mp %}{% endblock %} has-dropdown">
                                <a href="{% url "zds.mp.views.index" %}">
                                    {% if unread_topics|length > 0 %}
                                        <span class="label alert">{{ unread_topics|length }}</span>
                                    {% endif %}
                                    <i class="fi-mail"></i>
                                </a>
                                <ul class="dropdown">
                                    {% with read_topics=topics.read %}
                                        {# Unread topics #}
                                        {% for topic in unread_topics %}
                                            <li>
                                                <a href="{{ topic.last_read_post.get_absolute_url }}">
                                                    <span class="label">!</span>
                                                    <strong>
                                                        {{ topic.title }}
                                                    </strong>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {# Read topics #}
                                        {% for topic in read_topics %}
                                            <li>
                                                {% with last_answer=topic.get_last_answer %}
                                                    <a href="
                                                        {% if last_answer %}
                                                            {{ last_answer.get_absolute_url }}
                                                        {% else %}
                                                            {{ topic.first_post.get_absolute_url }}
                                                        {% endif %}">
                                                        {{ topic.title }}
                                                    </a>
                                                {% endwith %}
                                            </li>
                                        {% endfor %}
                                        {% if read_topics|length = 0 and unread_topics|length = 0 %}
                                            <li class="disabled">
                                                <a href="{% url "zds.mp.views.index" %}">Pas de message</a>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                </ul>
                            </li>
                        {% endwith %}
                    {% endwith %}
                    {% with topics=user|interventions_topics %}
                        {% with unread_topics=topics.unread %}
                            <li class="has-dropdown">
                                <a href="#">
                                    {% if unread_topics|length > 0 %}
                                        <span class="label alert">{{ unread_topics|length }}</span>
                                    {% endif %}
                                    <i class="fi-star"></i>
                                </a>
                                <ul class="dropdown">
                                    {% with read_topics=topics.read %}
                                        {# Unread topics #}
                                        {% for topic in unread_topics %}
                                            <li>
                                                <a href="{{ topic.last_read_post.get_absolute_url }}">
                                                    <span class="label">!</span>
                                                    <strong>
                                                        {{ topic.title }}
                                                    </strong>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {# Read topics #}
                                        {% for topic in read_topics %}
                                            <li>
                                                {% with last_answer=topic.get_last_answer %}
                                                    <a href="
                                                        {% if last_answer %}
                                                            {{ last_answer.get_absolute_url }}
                                                        {% else %}
                                                            {{ topic.first_post.get_absolute_url }}
                                                        {% endif %}">
                                                        {{ topic.title }}
                                                    </a>
                                                {% endwith %}
                                            </li>
                                        {% endfor %}
                                        {% if read_topics|length = 0 and unread_topics|length = 0 %}
                                            <li class="disabled">
                                                <a href="javascript:;">Aucun sujet suivi</a>
                                            </li>
                                        {% endif %}
                                    {% endwith %}
                                </ul>
                            </li>
                        {% endwith %}
                    {% endwith %}
                <li class="has-dropdown">
                    {% with profile=user|profile %}
                        <a href="{% url "zds.member.views.actions" %}">
                            <img src="{{ profile.get_avatar_url }}" alt="Avatar" width="24" height="24" />
                            {{ user.username }}
                        </a>
                    {% endwith %}
                    <ul class="dropdown">
                        <li><a href="{% url "zds.member.views.details" user.username %}"><i class="icon-user"></i> Profil</a></li>
                        <li><a href="{% url "zds.gallery.views.gallery_list" %}"> Galeries d'images</a></li>
                        <li><a href="{% url "zds.member.views.publications" %}"><i class="icon-list"></i> Publications</a></li>
                        <li><a href="{% url "zds.member.views.settings_profile" %}"><i class="icon-cog"></i> Paramètres</a></li>
                        <li><a href="{% url "zds.member.views.logout_view" %}"><i class="icon-signout"></i> Se déconnecter</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{% url "zds.member.views.register_view" %}">S'inscrire</a>
                </li>
                <li>
                    <a href="{% url "zds.member.views.login_view" %}">Se connecter</a>
                </li>
                {% endif %}
            </ul>
        </section>
    </nav>

    <header>
        <div class="row">
            <div class="twelve columns">
                
            </div>
        </div>
    </header>

    <div class="row">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li>
                    <a href="{% url "zds.pages.views.home" %}">Accueil</a>
                </li>
                {% block breadcrumb_base %}{% endblock %}
                {% block breadcrumb %}{% endblock %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <h1>{% block headline %}{% endblock %}</h1>
        </div>
        <div class="large-4 columns">
            <div class="headline-actions right">
                {% block headline-actions %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h1>
                <small>
                    {% block headline-sub %}{% endblock %}
                </small>
            </h1>
            {% if messages %}
                {% for message in messages %}
                    <div data-alert class="alert-box {{ message.tags }}">
                        <span>{{ message }}</span>
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% block content %}{% endblock %}

    {# Footer #}

    <div class="row full-width footer">
        <div class="large-4 columns">
            <p>&copy; ZesteDeSavoir 2013</p>
        </div>
        <div class="large-8 columns">
            <ul class="inline-list right">
                
                <li><a href="{% url "zds.pages.views.roadmap" %}">Roadmap</a></li>
                <li><a href="#">Code source</a></li>
            </ul>
        </div>
    </div>

    {# Javascript stuff start #}
    {% compressed_js "zds" %}

    {# for addtionnal javascript in some pages #}
    {% block extrajs %}{% endblock %}

    {# Foundation #}
    <script>
        $(document).foundation('topbar forms dropdown tooltips alerts section clearing', {
            custom_back_text: true,
            back_text: 'Précédent'
        });
    </script>
    {% block additionnal-js %}{% endblock %}

</body>
</html>
