{% extends "base.html" %}
{% load emarkdown %}
{% load humane_date %}

{% block menu_home %}
class="active"
{% endblock %}

{% load staticfiles %}

{# Titles #}

{% block title %}
    Accueil
{% endblock %}

{% block meta %}
    <meta name="description" content="Bienvenue sur LeBonProjet, une communauté
    qui a pour objectif de réaliser des projets en mettant en commun leurs
    compétences respectives.
    Grâce à ce site, vous éviterez les pièges dans lequels tombent de nombreux
    débutant." />
{% endblock %}

{# Content #}
{% block headline-sub %}
Bienvenue sur ZesteDeSavoir
{% endblock %}

{% block content %}

<div class="row">
          <div class="large-6 columns">
            <div class="row">
                <div class="large-12 columns">
                <div class="panel">
                    <h3><a href="{% url "zds.forum.views.index" %}">Forums</a></h3>
                    <hr />
                    <div class="row">
                        <div class="large-12 columns">
                        {% if last_topics %}
                            {% for topic in last_topics %}
                                {% include "forum/topic_item_common.part.html" %}
                            {% endfor %}
                        {% else %}
                    <p>Aucun sujet récent.</p>
                    
                    {% endif %}
                    </div>
                </div>
                </div>
            </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row">
                <div class="large-12 columns">
                <div class="panel">
                    <h3><a href="{% url "zds.tutorial.views.index" %}">Tutoriels</a></h3>
                    <hr />
                    <div class="row">
                        <div class="large-12 columns">
                        {% if last_tutorials %}
                            {% for tutorial in last_tutorials %}
                            {% if tutorial.on_line %}
                                <div class="large-2 columns hide-for-small">
                                    <img src="{{ tutorial.image.thumb.url }}">
                                </div>
                                <div class="large-10 columns">
                                <p class="subheader">
                                <a href="{{ tutorial.get_absolute_url}}">
                                    {{ tutorial.title }}
                                </a>
                                </p>
                                <p class="subheader">
                                    {% if tutorial.category %}
                                    {% for category in tutorial.category.all %}
                                    
                                        <a class="label secondary" href="#">{{category.title}}</a>
                                    
                                    {% endfor %}
                                    {% endif %}
                                    <i class="fi-clock"></i>
                                    {{tutorial.pubdate|humane_date}}
                                </p>
                                
                                </div>
                                <hr />
                            {% endif %}
                            {% endfor %}
                        {% else %}
                    <p>Aucun Tutoriel récent.</p>
                    
                    {% endif %}
                    </div>
                </div>
                </div>
            </div>
            </div> 
        </div>

</div>
{% endblock %}
